<div class="row">
    <div class="col">
        <div class="card resizable-card" [ngStyle]="style" 
                          mwlResizable
                          [validateResize]="validate"
                          [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                          [enableGhostResize]="true"
                          [resizeSnapGrid]="{left: 50, right: 50}"
                          (resizeEnd)="onResizeEnd($event)">
            <div class="card-header">
                <span>Resize me! <i class="fa fa-arrows-h ml-2 mr-2"></i> <i class="fa fa-arrows-v"></i></span>      
            </div>
            <div class="card-block h-100" perfect-scrollbar>

                <p>Angular resizable element - An angular 4.0+ directive that allows an element to be resized. Built with <a href="https://github.com/mattlewis92/angular-resizable-element" target="_blank">angular-resizable-element</a></p>
             
                <img src="assets/img/profile/adam.jpg" alt="adam" class="mr-4 mb-4">
                <img src="assets/img/profile/ashley.jpg" alt="ashley" class="mr-4 mb-4">
                <img src="assets/img/profile/bruno.jpg" alt="bruno" class="mr-4 mb-4">
                <img src="assets/img/profile/julia.jpg" alt="julia" class="mr-4 mb-4">
              
            </div>
        </div>
    </div>
</div> 