<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Promotion</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
          <a data-widgster="close" href="#" class="transition">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row mbm-20">
          <div class="col-12 bottom-30">
            <div class="clearfix">
              <ul class="nav nav-tabs top pull-left w-100p">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" (click)="statusChange()">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="statusChange('Active')">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="statusChange('Scheduled')">Scheduled</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="statusChange('Expired')">Expired</a>
                </li>

              </ul>
            </div>
            <div class="tab-content top">
              <div class="tab-pane active" id="ta">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectPromo($event)"></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
