@import "../../../theme/styles/variables";
.step {
  text-align: center;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $gray-light;
    top: 0;
    margin-top: 23px;
    width: 50%;
    height: 5px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  &:first-child:before {
    display: none;
  }
  &.last:after {
    display: none;
  }
  .step-icon {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background: $gray-light;
    border: 1px solid $gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    i {
      margin: 0 auto;
      font-size: 20px;
      color: $gray;
    }
  }
  &.active {
    &:before,
    &:after {
      background: $danger-color;
      border: none;
    }
    .step-icon {
      background: $danger-color;
      border: none;
      i {
        color: $default-color;
      }
    }
  }
  &.valid {
    &:before,
    &:after {
      background: $success-color;
      border: none;
    }
    .step-icon {
      background: $success-color;
      border: none;
      i {
        color: $default-color;
      }
    }
  }
  .step-name {
    display: block;
    margin-top: 14px;
    color: $gray;
    &.active {
      color: $danger-color;
    }
    &.valid {
      color: $success-color;
    }
  }
}

.form-wizard {
  margin-top: 25px;
  margin-bottom: 20px;
  background: $body-bg-color;
  padding-top: 15px;
  min-height: 400px;
  .form-title {
    margin-bottom: 15px;
    color: $gray;
    border-bottom: 1px solid $gray-light;
    padding: 0 15px;
  }
  .form-control-label {
    color: $text-color !important;
  }
  .help-block {
    position: absolute;
    font-size: 11px;
  }
}

.arrow {
  font-size: 12px;
}

@media (max-width: 767px) {
  .step {
    margin-bottom: 10px;
    text-align: left;
    .step-icon {
      float: left;
      margin-right: 15px;
    }
    &:before,
    &:after {
      content: none;
    }
  }
}

az-product-new {
  th {
    border: 1px solid #000;
  }
  td {
    border: 1px solid #000;
  }
  .m-img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
  }
  .images-container {
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 293px;
    padding: 10px;
    display: block;
    .m-image-wrapper {
      position: relative;
      display: inline-block;
      margin: auto;
      margin: 10px;
      width: 180px;
      height: 180px;
      text-align: center;
      vertical-align: top;
      .m-delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
        z-index: 10;
      }
      &:hover .m-delete-img {
        visibility: visible;
      }
    }
    .m-image-wrapper:hover {
      background: rgba(255, 255, 255, 0.5);
      transition: 0.3s;
    }
  }
  .show {
    display: block
  }
  .hovered {
    opacity: 0.7
  }
  .overlay {
    position: relative;
  }
}

.carouselImage {
  max-width: 180px;
  max-height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer
}

/* The Modal (background) */

.imgModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  padding-top: 50px;
  /* Location of the box */
  padding-bottom: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  z-index: 10;
}

/* Modal Content (Image) */

.imgModal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  max-height: 100%
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} // /* Add Animation - Zoom in the Modal */
.imgModal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 15%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#images-modal {
  max-width: none;
}

#default-modal {
  padding: 80px
}