<expandable-card header='New Product'>
  <div card-body>
    <div class="row">
      <div *ngFor="let step of steps; let last = last" class="col-md-3 col-sm-6 col-12 step" [class.active]="step.active" [class.valid]="step.valid"
        [ngClass]="{'last' : last }">
        <div class="step-icon">
          <i class="fa {{ step.icon }}" aria-hidden="true"></i>
        </div>
        <span class="step-name" [class.active]="step.active" [class.valid]="step.valid">{{step.name}}</span>
      </div>
    </div>
    <div *ngFor="let step of steps" [hidden]="!step.active" class="col form-wizard">
      <div class="row form-title">
        <h4>
          <i class="fa {{ step.icon }}"></i> {{step.name}}</h4>
      </div>
      <!-- Step 1: Product Information -->
      <form *ngIf="step.name=='Product Information'" [formGroup]="productBasicForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputCate">Main category</label>
              <select class="form-control" formControlName="mainCategory">
                <option value='' disabled>Please select</option>
                <option [value]='cate' *ngFor="let cate of mainCategory">{{cate}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputSubCate">Subcategory</label>
              <select class="form-control" formControlName="subCategory">
                <option value='' disabled>Please select</option>
                <option [value]='cate' *ngFor="let cate of subCategory">{{cate}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputTag">Sub Subcategory</label>
              <select class="form-control" formControlName="subSubCategory" (change)="cateId = cateChange()">
                <option value='' disabled>Please select</option>
                <option [value]='cate' *ngFor="let cate of subSubCategory">{{cate}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Category Commission</label>
              <input type="text" class="form-control" formControlName="cateCom" disabled>
            </div>
          </div>
        </div>
        <form novalidate [formGroup]="attributeForm" *ngIf="cateAttribute?.length">
          <div class="row">
            <div class="col-md-4" *ngFor="let cate of cateAttribute">
              <div class="form-group">
                <label>{{cate.name}}</label>
                <select formControlName={{cate.name}}>
                  <!-- <option value=null disabled>Please Select Attribute</option>                       -->
                  <option *ngFor="let option of cate.value">{{option}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </form>

      <!-- Step 2: Product details -->
      <form *ngIf="step.name=='Product Detail'" [formGroup]="productDetailForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Product Name</label>
              <input type="text" class="form-control checking-field" formControlName="name">

              <control-messages [control]="productDetailForm.controls['name']"></control-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>SKU</label>
              <input type="text" class="form-control checking-field" formControlName="sku">
              <control-messages [control]="productDetailForm.controls['sku']"></control-messages>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Barcode</label>
              <input type="text" class="form-control checking-field" formControlName="barcode">
              <control-messages [control]="productDetailForm.controls['barcode']"></control-messages>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Brand</label>
              <input type="text" class="form-control checking-field" formControlName="brand">
              <control-messages [control]="productDetailForm.controls['brand']"></control-messages>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Product Price</label>
              <input type="number" class="form-control checking-field" formControlName="price">
              <control-messages [control]="productDetailForm.controls['price']"></control-messages>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Discount Rate(%)</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" formControlName="discount">
                </span>
                <input type="number" class="form-control checking-field" formControlName="discount_rate" [attr.disabled]="!productDetailForm.get('discount').value?true:null">
              </div>
              <control-messages [control]="productDetailForm.controls['discount_rate']"></control-messages>
            </div>
          </div>
          <div class="col-md-4" *ngIf="productDetailForm.get('discount').value">
            <div class="form-group">
              <label>Discounted Price</label>
              <div class="input-group">
                <div class="form-control">{{(productDetailForm.get('price').value*(1-productDetailForm.get('discount_rate').value/100)) | number:'1.2-2'}}</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Stock</label>
              <input type="text" class="form-control checking-field" formControlName="stock">
              <span class="help-block" *ngIf="productDetailForm.get('stock').touched">
                <span class="text-danger" *ngIf="step.hasError && productDetailForm.get('stock').hasError('required')">Field is required</span>
              </span>
              <control-messages [control]="productDetailForm.controls['stock']"></control-messages>
            </div>
          </div>
          <div class="col-md-12" *ngIf='editorOptions'>
            <div [froalaEditor]="editorOptions" formControlName="long_description">Type your product description here</div>
          </div>
        </div>

      </form>
      <form *ngIf="step.name=='Product Picture' && product_id!==''" [formGroup]="productDetailForm">
        <h3 style="text-align: center">Upload images(Max 12 Pictures)</h3>
        <!-- <form class="dropzone" dropzone id="my-awesome-dropzone" (removedfile)="removePic($event)" (addedfile)="onAddedPic($event)" (error)="onUploadError($event)"></form> -->
        <!-- <form class="dropzone"></form> -->
        <dropzone [config]="dropzoneConfig" (removedfile)="removePic($event)" (addedfile)="onAddedPic($event)" (error)="onUploadError($event)"></dropzone>

      </form>
      <div *ngIf="step.name=='Product Variant'">
        <div class="card-block widget-body">
          <ng-container *ngIf="config.variants.length">
            <div class="row bottom-30" *ngFor="let variants of variantArray">
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputOption" [(ngModel)]="variants.name" disabled>
              </div>
              <div class="col-md-8 ">
                <div class="row">
                  <label *ngFor="let values of variants['value']"> {{values}},</label>
                </div>
              </div>
            </div>
            <div class="row bottom-30">
              <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#default-modal">Add option</button>
                <button class="btn btn-danger" (click)="clearAll()">Clear all option</button>
                <!-- <az-image-modal #imageModal [imagesPool]="imagesPool" [mode]="mode" (tmpI)="selected=$event" [currentImageNumber]='selected?.length'></az-image-modal> -->
              </div>
              <div class="modal fade" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label" style="display: none;">
                <div class="modal-dialog" role="document" *ngIf="config.variants.length">
                  <app-variant-popout [config]="config" (newVariants)="addVariants($event)"></app-variant-popout>
                </div>
              </div>
            </div>
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="select($event);" (editConfirm)="onEditVariantConfirm($event)"></ng2-smart-table>
          </ng-container>
          <ng-container *ngIf="!config.variants.length">
            <div> This category has no product variant.</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary pull-left" *ngIf="allowBack" (click)="prev()">
          <i class="fa fa-chevron-left arrow"></i>&nbsp; Prev Step</button>
        <button *ngIf="!steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="next()">Next Step &nbsp;
          <i class="fa fa-chevron-right arrow"></i>
        </button>
        <button *ngIf="steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="confirm()">Confirm &nbsp;
          <i class="fa fa-check arrow"></i>
        </button>
      </div>
    </div>
  </div>
</expandable-card>






<!-- This is the old new product input -->

<!-- <div class="row">
    <div widget class="card">
      <div class="card-header">
        <span>Shipment</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row bottom-30" *ngFor="let variants of variantArray">
          <div class="col-md-4">
            <input type="text" class="form-control" id="inputOption" [(ngModel)]="variants.name" disabled>
          </div>
          <div class="col-md-8 ">
            <div class="row">
              <label *ngFor="let values of variants['value']"> {{values}},</label>
            </div>
          </div>
        </div> -->


<!-- <div class="row bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Shipment</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputWeight">Weight(kg)</label>
              <input type="number" class="form-control" id="inputWeight">
            </div>
          </div>

        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-main" (click)="updateProductDetail()">Update</button>
        </div>
      </div>
    </div>
  

</div> -->