<expandable-card header='Order Filter'>
  <div card-body>
    <form class="row form-inline" [formGroup]="searchForm">
      <div class="form-group col-md-3 col-sm-6">
        <input formControlName="start" type="date" class="form-control" placeholder="From Date">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <input formControlName="end" type="date" class="form-control" placeholder="To Date">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <button type="submit" class="btn btn-main" (click)="search()">Search</button>
      </div>
    </form>
    <hr>
  </div>
</expandable-card>


<expandable-card header='Order List'>
  <div card-body>
    <div class="row mbm-20">
      <div class="col-12 bottom-30">
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" (click)="statusChange('')">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="statusChange('AP')">Awaiting Payment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="statusChange('Paid')">Paid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="statusChange('AD')">Awaiting Delivery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="statusChange('DG')">Delivering</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="statusChange('GR')">Goods Received</a>
            </li>


          </ul>
        </div>
        <div class="tab-content top">
          <div class="tab-pane active" id="ta">
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectOrder($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</expandable-card>