<ng-container *ngIf="'login'===url">
    <div class="pre-white" style="margin: 30px 0">
        <h1 *ngIf="!forget">Supplier Panel Login</h1>
        <h1 *ngIf="forget">Password Reset</h1>
    </div>
    <a [routerLink]="['/register']" class="btn btn-link transition bottom-15">Don't have an account? Sign up now!</a>
    <!-- START CENTERED WHITE CONTAINER -->
    <!-- <table class="main"> -->
    <!-- START MAIN CONTENT AREA -->
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="input-div">
            <label id="icon" for="name">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </label>
            <input formControlName="email" class="form-control checking-field" placeholder="Email" type="text" [(ngModel)]="email">
            <span class="help-block" *ngIf="form.get('email').touched">
                <span class="text-danger" *ngIf="form.get('email').hasError('required')">Email is required</span>
                <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Invalid email
                    address</span>
                    <span class="text-danger" *ngIf="status">Invalid email</span>
            </span>
        </div>
        <div class="input-div" *ngIf="!forget">
            <label id="icon" for="name">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </label>
            <input formControlName="password" class="form-control checking-field" placeholder="Password" type="password"
                minlength="6" [(ngModel)]="password">
            <span class="help-block" *ngIf="form.get('password').touched">
                <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
                <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough,
                    minimum of 6 characters</span>
                    <span class="text-danger" *ngIf="status">Invalid Password</span>
            </span>
        </div>
        <div class="dv-login-fm__footer">
            <div class="dv-login-fm__word" (click)="forget=!forget;form">
                <a [routerLink]="[]" *ngIf="forget">Have An Account?</a>
                <a [routerLink]="[]" *ngIf="!forget">Forgot Your Password?</a>
            </div>
            <div class="dv-login-fm__btn">
                <button *ngIf="!forget" [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">
                    <span>Login</span>
                </button>
                <button *ngIf="forget" [disabled]="!form.controls['email'].valid" class="btn btn-main btn-block"
                    type="submit">
                    <span>Send</span>
                </button>
            </div>
        </div>
    </form>

    <!-- END MAIN CONTENT AREA -->
    <!-- </table> -->
</ng-container>
<ng-container *ngIf="'register'===url">
    <az-register></az-register>
</ng-container>
<ng-container *ngIf="'reset'===url">
    <az-reset></az-reset>
</ng-container>