<div *ngIf="mail">  
    <div class="card-block">
        <div class="detail-header clearfix">
            <a href="#" class="text-muted pull-right"><i class="fa fa-print"></i></a>
            <h4 class="pull-left">{{mail.subject}}</h4>
        </div>
        <hr/>

        <div class="detail-content bottom-15 clearfix">
            <div class="avatar pull-left">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="pull-left">
                <strong>{{mail.sender}}</strong>
                <span *ngIf="mail.senderMail" class="email">&lt;{{mail.senderMail}}&gt;</span><br>
                <span class="receiver">to me</span>
            </div>

            <div class="pull-right">
                <span class="mail-date"> {{mail.date}} </span>
                <div class="btn-group">
                    <button class="btn btn-sm btn-secondary"><i class="fa fa-reply"></i> Reply</button>
                    <button class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu pull-xs-right">
                        <li><a class="dropdown-item" href="#"><i class="fa fa-reply reply-btn"></i> Reply</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-right reply-btn"></i> Forward</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-print"></i> Print</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-ban"></i> Spam</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)" (click)="trash(mail.id)"><i class="fa fa-trash"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div [innerHTML]="mail.body"></div>

        <div class="mail-attachments" *ngIf="mail.attachments.length > 0">
            <hr/>
            <div class="row">
                <div class="col-sm-6">                    
                    <p>
                        <strong>{{mail.attachments.length}} attachments</strong> &nbsp;-&nbsp; 
                        <a href="#">Download all attachments</a>&nbsp;&nbsp;&nbsp;
                        <a href="#">View all Images</a>
                    </p>
                    <section *ngFor="let attachment of mail.attachments; let i = index" class="attachment">
                        <img src="{{attachment}}" alt="">
                        <h5 class="title">image-{{i + 1}}.jpg</h5>
                        <p>
                            457K  &nbsp;&nbsp;
                            <a href="#">View</a> &nbsp;&nbsp;
                            <a href="#">Download</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>
