<div id="print-section">
  <div class="row">
    <div class="col-md-4 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-shopping-cart"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Total Sales</h6>
            <span>{{totalSales|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-money"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Gstock Commission</h6>
            <span>{{totalComm|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-gift"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Net Sales after Commission</h6>
            <span>{{netSales|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-undo"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Sales Onhold</h6>
            <span>{{salesOnhold|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-mail-forward"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Sales Approved</h6>
            <span>{{salesApproved|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-check"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Sales Released</h6>
            <span>{{salesReleased|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
            <i class="fa fa-exclamation"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">Sales Rejected</h6>
            <span>{{salesRejected|currency:'SGD'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <expandable-card header='Order Filter'>
    <div card-body>

      <form (ngSubmit)="filterSubmit(orderFilter)" class="row form-inline" [formGroup]="orderFilter">
        <div class="form-group col-md-3 col-sm-6">
          <label>From Date</label>
          <input type="date" class="form-control checking-field" formControlName="fromDate">
          <span class="help-block" *ngIf="orderFilter.get('fromDate').touched">
            <span class="text-danger" *ngIf="orderFilter.get('fromDate').hasError('required')">Field is required</span>
          </span>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <label>To Date</label>
          <input type="date" class="form-control checking-field" formControlName="toDate">
          <span class="help-block" *ngIf="orderFilter.get('toDate').touched">
            <span class="text-danger" *ngIf="orderFilter.get('toDate').hasError('required')">Field is required</span>
          </span>
        </div>

        <div class="form-group col-md-3 col-sm-6">
          <button style="margin-top:20px" type="submit" class="btn btn-main" [disabled]="orderFilter.invalid">Search</button>
        </div>
      </form>
      <hr>

      <div class="row mbm-20">
        <div class="col-12 bottom-30">
          <div class="clearfix">
            <ul class="nav nav-tabs top pull-left w-100p">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" (click)="statusChange('')">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="statusChange('hold')">Onhold</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="statusChange('approved')">Approved</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="statusChange('released')">Released</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="statusChange('rejected')">Rejected</a>
              </li>


            </ul>
          </div>
          <div class="tab-content top">
            <div class="tab-pane active" id="ta">
              <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </div>
          </div>
          <button class="btn btn-main" (click)="generateReport()">Print Report</button>
          <button class="btn btn-main" (click)="exportReport()">Export Report</button>
        </div>
      </div>

    </div>
  </expandable-card>
</div>