@import "../../../theme/styles/variables";
@import "../../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
th{
    border: 1px solid #000;
}

td{
    border: 1px solid #000;
}


.small-info-box{
    padding: 8px;
    color: $default-color;
    background-color: $info-color;
    div.media{
        align-items: center;
    }
    i{
        font-size: 28px;
    }
    h6, span{
        font-weight: $font-normal;
    }
    h6{
        font-size: 14px;
    }
}