<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>{{header}}</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <a data-widgster="collapse" href="#" class="transition">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a data-widgster="fullscreen" href="#" class="transition">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a data-widgster="restore" href="#" class="transition">
                        <i class="fa fa-compress"></i>
                    </a>
                    <a data-widgster="close" href="#" class="transition" *ngIf="closable">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            
            <div class="card-block widget-body">  
                <ng-content select="[card-body]"></ng-content>
            </div>


            <ng-content select="[card-footer]"></ng-content>

        </div>
    </div>
</div>