az-image-modal {
  .carouselImage {
    max-width: 180px;
    max-height: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer
  }
}
