
<ul class="notifications"> 
 
    <!-- <li class="dropdown message-menu">
        <a href class="dropdown-toggle message" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span>7</span>
            <div class="pulsate"></div>
        </a>
        <div class="top-dropdown-menu dropdown-menu">
            <i class="dropdown-arr"></i>
            <div class="header clearfix">
                <span>Messages</span>
                <a href class="transition">Mark All as Read</a>
                <a href class="transition">Settings</a>
            </div>
            <div class="list" slim-scroll [slimScrollOptions]="{height: 250}">
                <a *ngFor="let message of messages" href class="transition">
                    <img src="{{ ( message.image || (message.name | profilePicture)) }}">                    
                    <div class="list-content">
                        <h3>{{message.name}} <span class="pull-right"><i class="fa fa-clock-o"></i> {{message.time}}</span></h3>
                        <p>{{message.text}}</p>
                    </div>
                </a>
            </div> 
            <div class="footer">
                <a href="#" class="transition">View all messages</a>
            </div> 
        </div>
    </li> -->

    <li class="dropdown notification-menu">
        <a href class="dropdown-toggle notification" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o" ></i>
            <span *ngIf="newCount!=0">{{newCount}}</span>
            <div class="pulsate" ></div>
        </a>

        <div class="top-dropdown-menu dropdown-menu">
            <i class="dropdown-arr"></i>
            <div class="header clearfix">
                <span>Notifications</span>
                <!-- <a href class="transition">Mark All as Read</a>
                <a href class="transition">Settings</a> -->
            </div>
            <div class="list" slim-scroll [slimScrollOptions]="{height: 250}"> 
                <!-- <a *ngFor="let notification of news|reverse" href={{orderUrl}} class="transition"> -->
             <a *ngFor="let notification of news|reverse" (click)="updateNews(notification)" class="transition">
                    <img src="../assets/img/shopping-cart.svg">                    
                    <div class="list-content">
                        <h3>You have new {{notification.type}} <span class="pull-right"> {{notification.create_date| date:'dd-MM-yyyy HH:mm'}}</span></h3>
                        <i class="fa fa-circle" style="color:red" *ngIf="notification.read==false"></i>
                        <span class="pull-right">Order Status: {{notification.status}}</span>

                    </div>
                </a>
                <!-- <ul>
                    <li *ngFor="let item of news | async">
                       {{ item | json }}
                    </li>
                  </ul> -->
            </div> 
            <!-- <div class="footer">
                <a href="#" class="transition">View all notifications</a>
            </div>  -->
        </div> 
    </li>
<!-- 
    <li class="dropdown task-menu">
        <a href class="dropdown-toggle task" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-tasks"></i>
            <span>6</span>
            <div class="pulsate"></div>
        </a>
        <div class="top-dropdown-menu dropdown-menu">
            <i class="dropdown-arr"></i>
            <div class="header clearfix">
                <span>Tasks</span>
                <a href class="transition">Mark All as Read</a>
                <a href class="transition">Settings</a>
            </div>
            <div class="list" slim-scroll [slimScrollOptions]="{height: 250}">
                <a *ngFor="let task of tasks" href class="transition">
                    <h3>{{task.text}} <span class="pull-right">{{task.value}}</span></h3>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-{{task.class}}" role="progressbar" [style.width]="task.value"  aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
            </div>
            <div class="footer">
                <a href="#" class="transition">View all tasks</a>
            </div>     
        </div>
    </li> -->

</ul>