<nav class="nav az-navbar fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
    <img src="assets/img/logo/logo_reset.png" style="width:50%;margin-left:25%;" alt="" class="hidden-sm-down">
    <img src="assets/img/logo/az_logo.png" alt="" class="hidden-md-up">
  </a>
  <div id="lines" class="transition" (click)="toggleMenu()"></div>

  <form role="search" class="app-search hidden-sm-down">
    <input type="text" placeholder="Search..." class="form-control">
    <a href="javascript:void(0)">
      <i class="fa fa-search"></i>
    </a>
  </form>

  <ul class="nav right-section">
    <li class="nav-item">
      <az-messages></az-messages>
    </li>
    <li class="nav-item">
      <div class="dropdown float-right user-menu">
        <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img [attr.src]="profileImage" alt="user-img" class="img-circle user-img">
          <span class="hidden-md-down" *ngIf="merchantProfile.store">{{merchantProfile.store.name}}</span>
        </a>

        <ul class="dropdown-menu">
          <li class="user-info">
            <img [attr.src]="profileImage" alt="user-img" class="img-circle user-img">
            <p *ngIf="merchantProfile.store">
              {{merchantProfile.store.description}}
            </p>
          </li>
          <a class="dropdown-item" routerLink="/pages/setting/account-setting">
            <i class="fa fa-cog"></i>Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/login" (click)="logout()">
            <i class="fa fa-power-off"></i>Log out</a>
        </ul>
      </div>
    </li>
  </ul>

</nav>