<div class="pre-white" style="margin: 30px 0">
    <h1>Supplier Registration</h1>
</div>
<a [routerLink]="['/login']" class="btn btn-link transition bottom-15">Already have an account? Sign in!</a>

<!-- START CENTERED WHITE CONTAINER -->
<span class="preheader">Reset Your Password</span>
<!-- <table class="main"> -->

<!-- START MAIN CONTENT AREA -->
<form [formGroup]="form" >

    <div class="input-div">
        <label for="Uen_no">UEN/IC no</label>
            <!----<i class="fa fa-envelope-o" aria-hidden="true"></i>--(keydown)=onKeydownEvent($event)>
        </label>(change)="itemNameChange()"-->
        <input formControlName="Uen_no" class="form-control checking-field" placeholder="UEN/IC no" type="text"
            [(ngModel)]="Uen_no" style="width:84% !important" >
            <button (click)="itemNameChange()" style="float:right;margin-top:-68px;border:2px solid #027c2a;background-color:#027c2a;border-radius:2px;color:white;height:36px;">Verify</button>
             <span class="help-block" *ngIf="form.get('Uen_no').touched">
            <span class="text-danger" *ngIf="form.get('Uen_no').hasError('required')">UEN/IC no. is required</span>
            </span>
            <span class="text-danger" *ngIf="status">UEN/IC no is worng"</span>
    </div>
    <div class="input-div">
        <label for="first_name">Name
            <!---     <i class="fa fa-envelope-o" aria-hidden="true"></i>-->
        </label>
        <input formControlName="first_name" class="form-control checking-field" placeholder="First name" type="text"
            [(ngModel)]="first_name">
        <span class="help-block" *ngIf="form.get('first_name').touched">
            <span class="text-danger" *ngIf="form.get('first_name').hasError('required')">First name is required</span>
        </span>
    </div>

    <div class="input-div">
        <label for="name">Email
            <!---<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
        </label>
        <input formControlName="email" class="form-control checking-field" placeholder="email" type="text"
            [(ngModel)]="email">
        <span class="help-block" *ngIf="form.get('email').touched">
            <span class="text-danger" *ngIf="form.get('email').hasError('required')">Email is required</span>
            <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Invalid email address</span>
        </span>
    </div>
<!--ammm-->
    <div class="input-div">
        <label for="password">Password
            <!---  <i class="fa fa-lock" aria-hidden="true" id="icon"></i>-->
        </label>
        <div class="form-group">
            <input formControlName="password" class="form-control checking-field" placeholder="Password" type="password"
                minlength="6" [(ngModel)]="password">
           <span class="help-block" *ngIf="form.get('password').touched">
                <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
                <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough,
                    minimum of 6 characters</span>
            </span>
        </div>

    </div>

    <div class="input-div">
        <label for="confirm_password">Confirm password
            <!---<i class="fa fa-lock" aria-hidden="true"></i>-->
        </label>
        <input formControlName="confirm_password" class="form-control checking-field" placeholder="Confirm Password"
            type="password" [(ngModel)]="confirm_password">
        <span class="help-block" *ngIf="form.get('confirm_password').touched">
            <span class="text-danger" *ngIf="form.get('confirm_password').hasError('required')">Confirm Password is
                required</span>
            <span class="text-danger" *ngIf="form.get('confirm_password').hasError('mismatchedPasswords')">Passwords do
                not match</span>
        </span>
    </div>

    <p>By clicking sign up, you agree on our
        <a href="#">terms and condition</a>.</p>
    <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit" style="background-color: #027c2a" (click)="onSubmit(form.value)">Sign
        up</button>
</form>



<!-- END MAIN CONTENT AREA -->
<!-- </table> -->

<!-- START FOOTER -->