<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <ng-container *ngIf="'login'===url">
                    <div class="pre-white" style="margin: 30px 0"><!--_reset.svg-->
                        <img src="assets/img/logo/logo_reset.png" width="40%">
                        <h1 *ngIf="!forget">Merchant Panel Login</h1>
                        <h1 *ngIf="forget">Password Reset</h1>
                    </div>
                    <a [routerLink]="['/register']" class="btn btn-link transition bottom-15">Don't have an account? Sign up now!</a>
                    <!-- START CENTERED WHITE CONTAINER -->
                    <table class="main">
                        <!-- START MAIN CONTENT AREA -->
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="input-div">
                                <label id="icon" for="name">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </label>
                                <input formControlName="email" class="form-control checking-field" placeholder="Email" type="text">
                                <span class="help-block" *ngIf="form.get('email').touched">
                                    <span class="text-danger" *ngIf="form.get('email').hasError('required')">Email is required</span>
                                    <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Invalid email address</span>
                                </span>
                            </div>
                            <div class="input-div" *ngIf="!forget">
                                <label id="icon" for="name">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </label>
                                <input formControlName="password" class="form-control checking-field" placeholder="Password" type="password" minlength="6">
                                <span class="help-block" *ngIf="form.get('password').touched">
                                    <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
                                    <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
                                </span>
                            </div>
                            <div class="dv-login-fm__footer">
                                <div class="dv-login-fm__word" (click)="forget=!forget;form">
                                    <a [routerLink]="[]" *ngIf="forget">Have An Account?</a>
                                    <a [routerLink]="[]" *ngIf="!forget">Forget Your Password?</a>
                                </div>
                                <div class="dv-login-fm__btn">
                                    <button *ngIf="!forget" [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">
                                        <span>Login</span>
                                    </button>
                                    <button *ngIf="forget" [disabled]="!form.controls['email'].valid" class="btn btn-main btn-block" type="submit">
                                        <span>Send</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- END MAIN CONTENT AREA -->
                    </table>
                </ng-container>
                <ng-container *ngIf="'register'===url">
                    <az-register></az-register>
                </ng-container>
                <ng-container *ngIf="'reset'===url">
                    <az-reset></az-reset>
                </ng-container>
                <!-- START FOOTER -->
                <div class="footer">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span class="apple-link">
                                    <a href="http://gstock.sg" style="color: #333">Gstock Website</a>
                                </span>
                                <span class="apple-link">|</span>
                                <span class="apple-link">
                                    <a href="http://gstock.sg" style="color: #333">Terms and Conditions</a>
                                </span>
                                <span class="apple-link">|</span>
                                <span class="apple-link">
                                    <a href="http://gstock.sg" style="color: #333">Privacy Policy</a>
                                </span>

                            </td>
                        </tr>
                        <tr>
                            <td class="content-block">
                                <p class="apple-link">21 Bukit Batok Crescent #25-81 WCEGA Tower Singapore 658065</p>
                                <p class="apple-link">(65) 6570 8226 | 6570 8177</p>
                                <!-- <br> Don't like these emails? -->
                                <!-- <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>. -->
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>