<expandable-card header='Product Category'>
  <div card-body>
    <form [formGroup]="productCateForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Main category</label>
            <input type="text" class="form-control" formControlName="mainCategory" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Subcategory</label>
            <input type="text" class="form-control" formControlName="subCategory" disabled>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Sub Subcategory</label>
            <input type="text" class="form-control" formControlName="subSubCategory" disabled>
          </div>
        </div>
      </div>
    </form>
  </div>
</expandable-card>

<expandable-card header='Product Attribute'>
  <div card-body>
    <div class="row">
      <div class="col-md-4" *ngFor="let cate of cateAttribute">
        <div class="form-group">
          <span>{{cate.name}}</span>
          <input type="text" class="form-control" [(ngModel)]="cate.value" disabled>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="outdated.length">
      <div class="col-md-12">
        <div class="alert alert-warning" style="color:#8a6d3b">
          <strong>Warning!</strong> This product has outdated attributes.
        </div>
        <div class="card">
          <div class="card-header">
            Theses attributes are previously assigned for this product but no longer available for update. Editing will
            overwrite them
            with new attributes.
          </div>
          <div class="card-block">
            <!-- <p class="card-text"></p> -->
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4" *ngFor="let o of outdated">
                  <label>{{o.name}}</label>
                  <p>{{o.value}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer">
                  <p></p>
                </div> -->
        </div>
      </div>
    </div>
    <div class="dv-gs-attribute-container" *ngIf="productAttributeForm">
      <div>Attributes from {{category}}</div>
      <form novalidate [formGroup]="productAttributeForm">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4" *ngFor="let attribute of cateAttArray">
                <div class="form-group">
                  <label>{{attribute.name}}</label>
                  <select formControlName={{attribute.name}}>
                    <!-- <option value=null disabled>Please Select Attribute</option>                       -->
                    <option *ngFor="let option of attribute.value" [value]="option">{{option}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div card-footer>
    <div class="modal fade" id="attribute-modal" tabindex="-1" role="dialog" aria-labelledby="modal-small-label"
      style="display: none;" *ngIf="cateAttArray">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header state modal-primary">
            <h4 class="modal-title" id="modal-small-label">Edit Product Attribute</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <ng-container *ngIf="productAttributeForm">
              <form novalidate [formGroup]="productAttributeForm">
                <div class="row">
                  <div class="col-md-4" *ngFor="let cate of cateAttArray">
                    <div class="form-group">
                      <label>{{cate.name}}</label>
                      <select formControlName={{cate.name}}>
                        <!-- <option value=null disabled>Please Select Attribute</option>                       -->
                        <option *ngFor="let option of cate.value">{{option}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>

            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="submitAttribute()">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</expandable-card>

<!-- Product Details -->
<expandable-card header='Product Detail'>
  <div card-body>
    <form (ngSubmit)="updateProduct()" [formGroup]="productDetailForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="dv-gs-detail__item--required">Product Name</label>
            <input type="text" class="form-control checking-field" formControlName="name" [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['name']"></control-messages>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="dv-gs-detail__item--required">SKU</label>
            <input type="text" class="form-control checking-field" formControlName="sku" [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['sku']"></control-messages>
          </div>

        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label>Barcode (Optional)</label>
            <input type="text" class="form-control checking-field" formControlName="barcode" [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['barcode']"></control-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Product Brand (Optional)</label>
            <input type="text" class="form-control checking-field" formControlName="product_brand"
              [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['product_brand']"></control-messages>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="dv-gs-detail__item--required">Stock</label>
            <input (keypress)="disable($event)" type="number" class="form-control checking-field"
              formControlName="stock" [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['stock']"></control-messages>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group"></div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="dv-gs-detail__item--required">Product Price</label>
            <input type="number" class="form-control checking-field" formControlName="price" [attr.disabled]="disable">
            <control-messages [control]="productDetailForm.controls['price']"></control-messages>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Discount Rate(%)</label>
            <div class="input-group">
              <div style="padding:0.5rem">
                <input type="checkbox" formControlName="discount" [attr.disabled]="disable">
              </div>
              <input [hidden]="!productDetailForm.get('discount').value" type="number" class="form-control"
                formControlName="discount_rate" [attr.disabled]="disable">
            </div>
            <control-messages [control]="productDetailForm.controls['discount_rate']"></control-messages>
          </div>
        </div>
        <div class="col-md-4" [hidden]="!productDetailForm.get('discount').value">
          <div class="form-group">
            <label>Discounted Price</label>
            <div class="input-group">
              <div class="form-control">
                {{(productDetailForm.get('price').value*(1-productDetailForm.get('discount_rate').value/100) | number:'1.2-2')}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Short description</label>
            <div class="input-group">
              <div class="form-control">
                <textarea formControlName="short_description" [attr.disabled]="disable"></textarea>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-30" *ngIf="editorOptions">

        <div class="col-md-12">
          <div [froalaEditor]="editorOptions" formControlName="long_description"></div>
        </div>


      </div>
      <div class="row" style="text-align: center">
        <div class="col-md-4">
          <button class="btn btn-main" type="submit" [disabled]="productDetailForm.invalid"
            *ngIf="disable===null">Update Product</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-main" type="button" (click)="startEditProduct()">Edit Product</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" type="button" (click)="cancelEditProduct()"
            *ngIf="disable===null">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</expandable-card>



<expandable-card header='Product Picture'>
  <div card-body>
    <div class="col-8 offset-2">
      <button class="btn btn-success btn-block" data-toggle="modal" data-target="#imgupload-modal">
        <i class="fa fa-upload"></i> Upload images(Max 12 Pictures)
      </button>
    </div>
    <div class="modal fade" id="imgupload-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
      style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header state modal-primary">
            <h4 class="modal-title" id="modal-default-label">Upload Images</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="product_id!==''">
            <dropzone [config]="dropzoneConfig" (removedfile)="removePic($event);" (addedfile)="onAddedFile($event)"
              (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card images-container" [dragula]="'bag-container'" [dragulaModel]='images'>
      <div class="m-image-wrapper" *ngFor="let image of images; let i=index;" (click)="isClicked=i">
        <i class="fa fa-times m-delete-img" (click)="removeImage($event,image);"></i>
        <img class="carouselImage" [attr.src]="image.url">
        <div class="imgModal" [ngClass]="isClicked===i?'show':'hide'" *ngIf="isClicked===i"
          (click)="isClicked=-1; $event.stopPropagation();">
          <img class="imgModal-content" [attr.src]="image.url">
        </div>
      </div>
    </div>
  </div>
</expandable-card>


<expandable-card header='Product Variant' *ngIf="variants.length">
  <div card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="modal fade" id="variant-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label"
          style="display: none;">
          <div class="modal-dialog" role="document">
            <app-variant-popout [config]="config" (newVariants)="addVariants($event)"></app-variant-popout>
          </div>
        </div>
        <div class="col-md-12">
          <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="updateVariant($event)"></ng2-smart-table>
        </div>
        <div class="col-md-12">
          <button class="btn btn-main pull-right  m-t-5" type="button" data-toggle="modal"
            data-target="#variant-modal">Add New Variant</button>
        </div>
      </div>
    </div>
  </div>
</expandable-card>

<expandable-card header='Other Option'>
  <div card-body>
    <div class="row">
      <div class="col-md-12">
        <button *ngIf="!isActive" class="btn btn-success pull-right" type="button"
          (click)="changeProductActiveStatus()">Active</button>
        <button *ngIf="isActive" class="btn btn-danger pull-right" type="button"
          (click)="changeProductActiveStatus()">Inactive</button>
        <button *ngIf="!isActive" class="btn btn-danger pull-right" type="button" data-toggle="modal"
          data-target="#delProduct-modal">Delete Product</button>
      </div>
    </div>
  </div>
</expandable-card>






<div class="modal fade" id="delProduct-modal" tabindex="-1" role="dialog" aria-labelledby="modal-small-label"
  style="display: none;">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <h4 class="modal-title" id="modal-small-label">Delete Product?</h4>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete this product?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delProduct()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="images-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
  style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="card images-container">
      <div class="m-image-wrapper" *ngFor="let image of images; let i=index;">
        <div>
          <img class="carouselImage" [attr.src]="image.url" (click)="selectImage(image.name)">
          <button *ngIf="image.name === variantRowSelected?.image" class="btn btn-success overlay">Select</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success btn-block" (click)="doneSelect()" data-dismiss="modal">OK</button>
</div>