@import "../../../theme/styles/variables";
@media (max-width: 767px) {
  .step {
    margin-bottom: 10px;
    text-align: left;
    .step-icon {
      float: left;
      margin-right: 15px;
    }
    &:before,
    &:after {
      content: none;
    }
  }
}

az-product-detail {
  th {
    border: 1px solid #000;
  }
  td {
    border: 1px solid #000;
  }
  .m-img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
  }
  .carouselImage {
    max-width: 180px;
    max-height: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer
  }
  .images-container {
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 293px;
    padding: 10px;
    display: block;
    .m-image-wrapper {
      position: relative;
      display: inline-block;
      margin: auto;
      margin: 10px;
      width: 180px;
      height: 180px;
      text-align: center;
      vertical-align: top;
      .m-delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid red;
        color: red;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
        z-index: 10;
      }
      &:hover .m-delete-img {
        visibility: visible;
      }
    }
    .m-image-wrapper:hover {
      background: rgba(255, 255, 255, 0.5);
      transition: 0.3s;
    }
  }
  .show {
    display: block
  }
  .hide {
    -webkit-animation-name: zoomOut;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomOut;
    animation-duration: 0.6s;
  }
  .hovered {
    opacity: 0.7
  }
  .overlay {
    position: relative;
  }
}

.carouselImage {
  max-width: 180px;
  max-height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer
}

/* The Modal (background) */

.imgModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  padding-top: 50px;
  /* Location of the box */
  padding-bottom: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  z-index: 10;
}

/* Modal Content (Image) */

.imgModal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  max-height: 100%
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

// /* Add Animation - Zoom in the Modal */
.imgModal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(1)
  }
  to {
    -webkit-transform: scale(0)
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0)
  }
}

/* The Close Button */

.close {
  top: 15%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 80%;
  }
}

#images-modal {
  max-width: none;
}

#default-modal {
  padding: 80px
}

.dv-gs-detail__item--required::after {
  content: '*';
  color: red;
}

.dv-gs-attribute-container {
  margin-top: 30px;
}