<expandable-card header='Product Filter'>
  <div card-body>
    <form [formGroup]='searchForm' class="row form-inline" (submit)='searchProduct()'>
      <div class="form-group col-md-3 col-sm-6">
        <input type="text" class="form-control" placeholder="Product Name" formControlName='name'>
      </div>

      <div class="form-group col-md-3 col-sm-6">
        <input type="date" class="form-control" placeholder="From Date" formControlName='start' (change)="dateChange(searchForm.get('start'))">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <input type="date" class="form-control" placeholder="To Date" formControlName='end' (change)="dateChange2(searchForm.get('end'))">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <button type="submit" class="btn btn-main">Search</button>
      </div>
    </form>
    <div #myModal class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Actions</h4>
          </div>
          <div class="modal-body">
            <div class="center">
              <button class="btn btn-success">Approved</button>
              <button class="btn btn-danger">Rejected</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</expandable-card>

<expandable-card header='Product List'>
  <div card-body>
    <div class="clearfix">
      <ul class="nav nav-tabs top pull-left w-100p">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" (click)="statusChange('')">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="statusChange('Stockout')">Stock Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="statusChange('Pending')">Pending Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="statusChange('Approved')">Approved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="statusChange('Rejected')">Rejected</a>
        </li>


      </ul>
    </div>

    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="multiSelect($event)"></ng2-smart-table>
    <div card-footer class="bottom-15" style="text-align:center">
      <div class="center-horizontal bottom-15 m-t-5">
        <button class="btn btn-danger btn-rounded" (click)="deleteProducts()">Delete selected products</button>
        <!-- <button class="btn  btn-success btn-rounded">Reject selected products</button> -->
      </div>
      <div style="float:right" class="center-horizontal bottom-15">
        <az-pagination card-footer #paginator (number)='toPage($event)'></az-pagination>
      </div>
    </div>
  </div>



</expandable-card>