  az-product-list {
      .center {
          margin: auto
      }
      th {
          border: 1px solid #000;
      }
      td {
          border: 1px solid #000;
      }
      .btn-rounded {
          border-radius: 25px;
          padding-left: 20px;
          padding-right: 20px;
      }
      .center-horizontal {
          margin-left: auto;
          margin-right: auto;
      }
  }