<div class="pre-white" style="margin: 30px 0">
    <!--<img src="https://gstock.sg/assets/images/logo.png" width="10%">-->
    <img src="assets/img/logo/logo_reset.png" width="10%">
</div>
<table border="0" cellpadding="0" cellspacing="0" class="gs-rlr-container">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <router-outlet>
                </router-outlet>          
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>

<!-- START FOOTER -->
<div class="footer">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:auto">
        <tr>
            <td class="content-block">
                <span class="apple-link">
                    <a href="http://gstock.sg" style="color: #333">Gstock Website</a>
                </span>
                <span class="apple-link">|</span>
                <span class="apple-link">
                    <a href="http://gstock.sg" style="color: #333">Terms and Conditions</a>
                </span>
                <span class="apple-link">|</span>
                <span class="apple-link">
                    <a href="http://gstock.sg" style="color: #333">Privacy Policy</a>
                </span>

            </td>
        </tr>
        <tr>
            <td class="content-block">
                <p class="apple-link">21 Bukit Batok Crescent #25-81 WCEGA Tower Singapore 658065</p>
                <p class="apple-link">(65) 6570 8226 | 6570 8177</p>
                <!-- <br> Don't like these emails? -->
                <!-- <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>. -->
            </td>
        </tr>
    </table>
</div>
<!-- END FOOTER -->