.gs-rlr-container {
    margin: auto;
    z-index: 1;
    background-color: #f6f6f6;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */

.container {
    display: block;
    margin: 0 auto !important;
    /* makes it centered */
    max-width: 580px;
    padding: 10px;
    width: 580px;
    margin: auto
}

/* This should also be a block element, so that it will fill 100% of the .container */

.content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 580px;
    padding: 10px;
}

.footer {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.footer td,
.footer p,
.footer span,
.footer a {
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.pre-white {
    text-align: center
}