@-webkit-keyframes spin-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
    }
}

@-moz-keyframes spin-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -moz-transform: scale3D(1, 1, 1);
    }
    35% {
        -moz-transform: scale3D(0, 0, 1);
    }
}

@keyframes spin-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        transform: scale3D(1, 1, 1);
    }
    35% {
        transform: scale3D(0, 0, 1);
    }
}

.spin-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.spin-container {
    height: 100%;
    width: 100%;
    display: table;
}

.spin-inner {
    vertical-align: middle;
    height: 100%;
    display: table-cell;
}

.spin-cube-grid {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    .spin-cube {
        width: 33%;
        height: 33%;
        background-color: #fff;
        float: left;
        -webkit-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
        -moz-animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: spin-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .spin-cube1 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .spin-cube2 {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .spin-cube3 {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .spin-cube4 {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .spin-cube5 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .spin-cube6 {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .spin-cube7 {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }
    .spin-cube8 {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .spin-cube9 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover {
        background: #cccccc;
    }
    &:active {
        background: #888888;
    }
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover {
        background: #666666;
    }
    &:active {
        background: #333333;
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}