th {
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
}

.img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper {
    position: relative;
    text-align: center;
    img {
        max-width: 150px;
    }
    .delete-img {
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img {
        visibility: visible;
    }
}