<div id="print-section">
  <expandable-card header='Store'>
    <div card-body>
      <div class="row">
        <div class="col-lg-4 bottom-15">
          <input type="file" (change)="fileChange($event,'profile')" class="img-upload-btn" />

          <button class="btn btn-main btn-block" type="button">
            <span>
              <i class="fa fa-upload"></i> Upload/Change Store Logo... </span>
          </button>

          <div class="image-wrapper" *ngIf="storeImage">
            <img [attr.src]="storeImage">
          </div>
        </div>

        <div class="col-lg-8  bottom-15">
          <input type="file" (change)="fileChange($event,'store')" class="img-upload-btn" />

          <button class="btn btn-main btn-block" type="button">
            <i class="fa fa-upload"></i> Upload/Change Store Banner...
          </button>

          <div class="image-wrapper" *ngIf="storeBanner">
            <img [attr.src]="storeBanner">
          </div>
        </div>
      </div>
      <form (ngSubmit)="storeUpdate(storeInfom)" [formGroup]="storeInfom">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Store Name</label>
              <input type="text" class="form-control checking-field" formControlName="storeName" [attr.disabled]="true">
              <span class="help-block" *ngIf="storeInfom.get('storeName').touched">
                <span class="text-danger" *ngIf="storeInfom.get('storeName').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Store Description</label>
              <textarea type="text" class="form-control checking-field" formControlName="storeDisc" [attr.disabled]="editMerchant==false ? false:null"></textarea>
              <span class="help-block" *ngIf="storeInfom.get('storeDisc').touched">
                <span class="text-danger" *ngIf="storeInfom.get('storeDisc').hasError('required')">Field is required</span>
                <span class="text-danger" *ngIf="storeInfom.get('storeDisc').hasError('maxlength')">Max of 250 characters</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Contact No.</label>
              <input type="number" class="form-control checking-field" formControlName="contactNo" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('contactNo').touched">
                <span class="text-danger" *ngIf="storeInfom.get('contactNo').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Address</label>
              <textarea type="text" class="form-control checking-field" formControlName="address" [attr.disabled]="editMerchant==false ? false:null"></textarea>
              <span class="help-block" *ngIf="storeInfom.get('address').touched">
                <span class="text-danger" *ngIf="storeInfom.get('address').hasError('required')">Field is required</span>
                <span class="text-danger" *ngIf="storeInfom.get('address').hasError('maxlength')">Max of 100 characters</span>
              </span>
            </div>
          </div>
          <!-- <div class="col-md-4">
          <div class="form-group">
            <label>Skype</label>
            <input type="text" class="form-control checking-field" formControlName="skype" [attr.disabled]="editMerchant==false ? false:null">
            <span class="help-block" *ngIf="storeInfom.get('skype').touched">
              <span class="text-danger" *ngIf="storeInfom.get('skype').hasError('required')">Field is required</span>
            </span>
          </div>
          </div> -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" class="form-control checking-field" formControlName="company_name" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('company_name').touched">
                <span class="text-danger" *ngIf="storeInfom.get('company_name').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Regis No.</label>
              <input type="text" class="form-control checking-field" formControlName="reg_no" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('reg_no').touched">
                <span class="text-danger" *ngIf="storeInfom.get('reg_no').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Postal code</label>
              <input type="text" class="form-control checking-field" formControlName="postal_code" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('postal_code').touched">
                <span class="text-danger" *ngIf="storeInfom.get('postal_code').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Bank Name</label>
              <input type="text" class="form-control checking-field" formControlName="bank_name" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('bank_name').touched">
                <span class="text-danger" *ngIf="storeInfom.get('bank_name').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Bank Account</label>
              <input type="text" class="form-control checking-field" formControlName="bank_account" [attr.disabled]="editMerchant==false ? false:null">
              <span class="help-block" *ngIf="storeInfom.get('bank_account').touched">
                <span class="text-danger" *ngIf="storeInfom.get('bank_account').hasError('required')">Field is required</span>
              </span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-main" type="submit" [disabled]="storeInfom.invalid" *ngIf="editMerchant">Update Store</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-main" type="button" (click)="editMerchantF('edit')">Edit Store</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger" type="button" (click)="editMerchantF('cancel')" *ngIf="editMerchant">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </expandable-card>

  <expandable-card header='Profile'>
    <div card-body>
      <form [formGroup]="accInfom" (ngSubmit)="profileUpdate(accInfom)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Email/Account Name</label>
              <input type="text" class="form-control checking-field" formControlName="email" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-main" style="margin-top:20px" (click)="changePassword()">Change Password</button>
          </div>
          <div class="col-md-4" *ngIf="passwordChange">
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control checking-field" formControlName="newPassword">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control checking-field" formControlName="firstName">
              <span class="help-block" *ngIf="accInfom.get('firstName').touched">
                <span class="text-danger" *ngIf="accInfom.get('firstName').hasError('required')">Field is required</span>
                <span class="text-danger" *ngIf="accInfom.get('firstName').hasError('maxlength')">Max of 10 characters</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-main pull-right" type="submit" [disabled]="accInfom.invalid">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </expandable-card>
</div>