<div class="row bottom-30">
  <div class="col-12 bottom-30">
    <div class="col-12">
      <div widget class="card">
        <div class="card-header">
          <span>Main Category</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div *ngFor="let panel of triplePanel;let i = index">
            <ng2-smart-table [settings]="settings" [source]="panel" (userRowSelect)="select($event.data.name,i)" (editConfirm)="onEditConfirm($event,i)"
              (createConfirm)="onCreateConfirm($event,i)" (deleteConfirm)="onDeleteConfirm($event,i)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>