
<div card-body>
  <form [formGroup]="dailyStockForm">
    <div class="row">
     <div class="col-md-8"></div>
       <div class="col-md-3">
          <div class="form-group">
            <label for="">Date</label><!--| date: 'dd-MMM-yyyy'" disabled-->
            <input type="text" class="form-control" formControlName="dailyStock_date" [ngModel]="dailyStock_date| date: 'dd-MMM-yyyy'">
   <!---  <az-control-messages [control]="dailyStockForm.controls['dailyStock_date']"></az-control-messages>-->
          </div>
        </div>
    </div>
  </form>
  <div class="card-block widget-body"><!--(userRowSelect)="saleReverse($event)"-->
    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onSelection($event)"(editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
  </div>
</div>