<div class="pre-white" style="margin: 30px 0">
  <img src="http://gstock.sg/media/queldorei/shopper/logo.png" width="40%">
  <h1>Merchant Panel </h1>
</div>

<!-- START CENTERED WHITE CONTAINER -->
<span class="preheader">Merchant Password Reset</span>
<!--table class="main">-->

  <!-- START MAIN CONTENT AREA -->
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="input-div" ><!--*ngIf="mail"-->
      <label id="icon" for="name">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </label>
      <input formControlName="password" class="form-control checking-field" placeholder="Password" type="password" minlength="6">
      <span class="help-block" *ngIf="form.get('password').touched">
        <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
        <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
      </span>
    </div>

    <div class="input-div" >
      <label id="icon" for="name">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </label>
      <input formControlName="confirm_password" class="form-control checking-field" placeholder="Confirm Password" type="password">
      <span class="help-block" *ngIf="form.get('confirm_password').touched">
        <span class="text-danger" *ngIf="form.get('confirm_password').hasError('required')">Confirm Password is required</span>
        <span class="text-danger" *ngIf="form.get('confirm_password').hasError('mismatchedPasswords')">Passwords do not match</span>
      </span>
    </div>
    <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit" style="background-color: #027c2a">Reset</button>
  </form>

  <!-- END MAIN CONTENT AREA -->
<!--</table>-->

<!-- START FOOTER -->