<div class="bottom-30">

  <expandable-card header='Order Summary'>
    <div card-body>

      <!-- <h6 class="card-title text-center"> Order ID: {{data?._id}}</h6> -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputBuyer">Order ID</label>
            <p class="form-control">{{order?._id}}</p>
          </div>
          <div class="form-group">
            <label for="inputBuyer">Buyer Email</label>
            <p class="form-control">{{buyer?.credential.email}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="status=='DG'">
            <label>Shipment_ID</label>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="shipment_id">
              <span class="help-block" *ngIf="shipment_id==''">
                <span class="text-danger" *ngIf="shipment_id==''">Field is required</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputDate">Order Date</label>
            <p class="form-control">{{order?.createdAt}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputStatus">Order Status:
              <span>{{status}}</span>
            </label>
            <!-- <select class="form-control" [(ngModel)]="status" (change)="statusChange()">
              <option *ngFor="let status of orderStatus" [ngValue]="status.value">{{status.name}}</option>
            </select> -->
          </div>
          <div class="form-group">
            <label for="inputStatus">Commission Status</label>
            <p class="form-control">{{commissionStatus}}</p>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-6 dv_memo-container">
          <div class="dv_memo-container__header">
            Order memo
          </div>
          <div class="dv_memo-container__display">
            {{orderDetail.memo}}
          </div>
        </div>
      </div>
    </div>
  </expandable-card>


  <expandable-card header='Order Detail'>
    <div card-body>

      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectOrder($event)"></ng2-smart-table>
      <br>
      <div class="row bottom-30">

        <div class="col-md-4">
          <div class="form-group">
            <label>Total Item</label>
            <input type="number" class="form-control" [value]="orderDetail.totalItem" disabled>
          </div>
        </div>

        <div class="col-md-4">

          <div class="form-group">
            <label>Total Product Amount</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" [value]="orderDetail.storeTotal" disabled>

            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="form-group">
            <label>Total Shipment</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" [value]="orderDetail.totalShipment" disabled>

            </div>
          </div>

        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label>Total Discount</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" [value]="orderDetail.discountAm" disabled>

            </div>
          </div>
        </div>


        <div class="col-md-4">

          <div class="form-group">
            <label>Total Payable</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" [value]="orderDetail.totalPayable" disabled>

            </div>
          </div>

        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Gstock Commission</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" class="form-control" [value]="orderDetail.gstockComm" disabled>

            </div>
          </div>
        </div>

        <!-- <div class="col-md-4">
              <button class="btn btn-main" (click)="generateInvoice()">Print Invoice</button>
            </div> -->

      </div>
    </div>
  </expandable-card>

  <expandable-card header='Shipment Detail'>
    <div card-body>
      <form [formGroup]="shipmentFromForm">
        <!-- <h6 class="card-title text-center"> Shipment ID: {{orderID}}</h6> -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputStatus">Shipment Agent</label>
              <input type="text" class="form-control" formControlName="agentName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Agent Website</label>
              <input type="text" class="form-control" formControlName="agentWeb">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Agent Contact</label>
              <input type="text" class="form-control" formControlName="agentContact">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="inputStatus">Shipment Status</label>
              <button class="btn btn-main">Trace Shipment</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="textarea-1">From Address</label>
              <textarea class="form-control" id="textarea-1" formControlName="fromAddress"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>From Building</label>
              <textarea type="text" class="form-control" formControlName="fromBld"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>From Postcode</label>
              <input type="text" class="form-control" formControlName="fromPostcode">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>From Name</label>
              <input type="text" class="form-control" formControlName="fromName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>From Contact</label>
              <input type="text" class="form-control" formControlName="fromContact">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>From Email</label>
              <input type="text" class="form-control" formControlName="fromEmail">
            </div>
          </div>
        </div>
      </form>
      <hr>
      <form [formGroup]="shipmentToForm" >
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="textarea-1">To Address</label>
              <textarea class="form-control" id="textarea-1" formControlName="address" [attr.disabled]="editShipment==false
              ? false:null"></textarea>
              <span class="help-block" *ngIf="shipmentToForm.get( 'address').touched">
                <span class="text-danger" *ngIf="shipmentToForm.get( 'address').hasError( 'required')">Field is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>To Unit No.</label>
              <textarea type="text" class="form-control" formControlName="unit_no" [attr.disabled]="editShipment==false
              ? false:null"></textarea>
              <span class="help-block" *ngIf="shipmentToForm.get( 'unit_no').touched">
                <span class="text-danger" *ngIf="shipmentToForm.get( 'unit_no').hasError( 'required')">Field is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>To Postcode</label>
              <input type="text" class="form-control" formControlName="postal_code" [attr.disabled]="editShipment==false
              ? false:null">
              <span class="help-block" *ngIf="shipmentToForm.get( 'postal_code').touched">
                <span class="text-danger" *ngIf="shipmentToForm.get( 'postal_code').hasError( 'required')">Field is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>To Name</label>
              <input type="text" class="form-control" formControlName="recepient" [attr.disabled]="editShipment==false
              ? false:null">
              <span class="help-block" *ngIf="shipmentToForm.get( 'recepient').touched">
                <span class="text-danger" *ngIf="shipmentToForm.get( 'recepient').hasError( 'required')">Field is required</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>To Contact</label>
              <input type="text" class="form-control" formControlName="contact_no" [attr.disabled]="editShipment==false
              ? false:null">
              <span class="help-block" *ngIf="shipmentToForm.get( 'contact_no').touched">
                <span class="text-danger" *ngIf="shipmentToForm.get( 'contact_no').hasError( 'required')">Field is required</span>
              </span>
            </div>
          </div>

        </div>

        <!-- <div class="row">
            <div class="col-md-4">
              <button class="btn btn-main" type="submit" [disabled]="shipmentToForm.invalid" *ngIf="editShipment">Update Shipment</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-main" type="button" (click)="editShipmentF( 'edit')">Edit Shipment Address</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger" type="button" (click)="editShipmentF( 'cancel')" *ngIf="editShipment">Cancel</button>
            </div>
          </div> -->
        <div class="row">
          <button class="btn btn-main" (click)="confirmDelivery('AD')" *ngIf="status == 'Paid'">Confirm order</button>
          <button class="btn btn-danger" (click)="confirmDelivery('Canceled')">Cancel order</button>
        </div>
      </form>
    </div>
  </expandable-card>



</div>