<div class="modal-content" *ngIf="variantForm">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-primary-label">Select options to add variants.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 gs-option-container">
                <h5 class="modal-title" id="modal-primary-label">Variant Options</h5>
                <p class="gs-important-text">Important: If you select both Size and Color=> S/Red, S/Green will be generated.</p>
                <form [formGroup]="variantForm" (ngSubmit)="addVariant()" id="variantForm">
                    <div class="row gs-option-row bottom-15" *ngFor="let g of formArray">
                        <div class="col-md-2 gs-option-row__first-item">{{g.formGroupDisplayName}}:</div>
                        <div class="row col-md-10 gs-option-row__child-row">
                            <!-- <div class="row form-group" style="margin-left:10px"> -->
                            <div class="col-md-2 gs-option-row__item" *ngFor="let o of g.formControls" formGroupName={{g.formGroupName}}>
                                <label><input id="checkBox" type='checkbox' formControlName={{o.formControlName}}> {{o.displayName}}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h5 class="modal-title" id="modal-primary-label">Default Variant Settings</h5>
                <p class="gs-important-text">All new variants added will have inherit the following settings: </p>
                <form [formGroup]="generalForm">
                    <div *ngFor="let o of generalArray[0].formControls" formGroupName="detail">
                        <label class="form-control-label">{{o.displayName}}:</label>
                        <input class="form-control" type='text' formControlName={{o.formControlName}}>
                        <control-messages [control]="generalForm.get('detail').get(o.formControlName)"></control-messages>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="variantForm" [disabled]="!variantForm.valid">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>