.gs-option-container {
    padding-right: 70px;
    padding-left: 40px;
}

.gs-option-row {
    border: solid 1px rgba(36, 45, 58, 0.8);
    border-radius: 7px;
    justify-content: space-between;
}

.gs-option-row__first-item {
    background: rgba(36, 45, 58, 0.8);
    color: #ffffff
}

.gs-option-row__child-row {
    justify-content: space-evenly;
}

.gs-option-row__item {
    padding: 15px;
}

.modal-content {
    box-sizing: content-box;
}