<div class="row">

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-primary text-center info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-money"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">Total Sales</h6>
            <h2 *ngIf="report?.order.all[0]">{{report.order.all[0].amt|currency:'SGD'}}</h2>
            <h2 *ngIf="!report?.order.all[0]">SGD0.00</h2>

          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <p class="no-margin">New sales in this month</p>
            <span>$ 3,454.00</span>
          </div>
        </div>       -->
      </div>
    </div>
  </div>



  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
      <div class="card card-warning text-center info-box">
        <div class="card-block">
          <div class="row">
            <div class="col-3">
              <span class="info-box-icon">
                <i class="fa fa-usd"></i>
              </span>
            </div>
            <div class="col-9">
                <h6 class="no-margin">Net Sales</h6>
                <h2>{{netSales|currency:'SGD'}}</h2>
            </div>
          </div>     
        </div>
      </div>
    </div>



    <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
        <div class="card card-danger text-center info-box">
          <div class="card-block">
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-tags"></i>
                </span>
              </div>
              <div class="col-9">
                  <h6 class="no-margin">Total Product</h6>
                  <h2 *ngIf="report">{{report.products.qty}}</h2>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                  <p class="no-margin">New product this month</p>
                  <span>32</span>
              </div>
            </div>       -->
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
          <div class="card card-success text-center info-box">
            <div class="card-block">
              <div class="row">
                <div class="col-3">
                  <span class="info-box-icon">
                    <i class="fa fa-cart-plus"></i>
                  </span>
                </div>
                <div class="col-9">
                    <h6 class="no-margin">Total Order</h6>
                    <h2 *ngIf="report?.order.all[0]">{{report.order.all[0].qty}}</h2>
                    <h2 *ngIf="!report?.order.all[0]">0</h2>

                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12">
                    <p class="no-margin">Order this month</p>
                    <span>40</span>
                </div>
              </div>       -->
            </div>
          </div>
        </div> 

</div>

<div class="row bottom-30">
  
    <span class="success">Product Status</span>
  
</div>
<div class="row">
    
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 bottom-30">
        <div class="card small-info-box">
          <div class="media">
            <span class="media-left">
                <i class="fa fa-retweet"></i>
            </span>
            <div class="media-body text-right">
              <h6 class="media-heading no-margin">TOTAL</h6>
                <span *ngIf="report">{{report.products.qty}}</span>
            </div>
          </div>
        </div>    
      </div>
    
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 bottom-30">
        <div class="card small-info-box">
          <div class="media">
            <span class="media-left">
                <i class="fa fa-clock-o"></i>
            </span>
            <div class="media-body text-right">
              <h6 class="media-heading no-margin">PENDING</h6>
              <span *ngIf="report">{{report.products.pending}}</span>            </div>
          </div>
        </div>    
      </div>
    
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 bottom-30">
        <div class="card small-info-box">
          <div class="media">
            <span class="media-left">
                <i class="fa fa-check"></i>
            </span>
            <div class="media-body text-right">
              <h6 class="media-heading no-margin">APPROVED</h6>
              <span *ngIf="report">{{report.products.approved}}</span>            </div>
          </div>
        </div>    
      </div>
    
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 bottom-30">
        <div class="card small-info-box">
          <div class="media">
            <span class="media-left">
                <i class="fa fa-th-list"></i>
            </span>
            <div class="media-body text-right">
              <h6 class="media-heading no-margin">Rejected</h6>
              <span *ngIf="report">{{report.products.rejected}}</span>            </div>
          </div>
        </div>    
      </div>
    
    
  
    
      
    
    </div>


<!-- <div class="row">

    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 bottom-30">
        <div class="card weather">
          <img class="card-img-top" src="../assets/img/app/sky.jpg" alt="Card image cap">
          <div class="card-img-overlay">               
                <h2 class="no-margin">Singapore</h2>
                <p class="card-text">TODAY {{date | date: 'dd.MM.yyyy'}}</p>
                <div class="row">
                    <div class="col-6 text-center">
                      <canvas skycon [weather]="'partly-cloudy-day'" [color]="config.colors.default" width="90" height="90"></canvas>
                    </div> 
                    <div class="col-6 text-center">
                        <div class="current-temperature">16°</div>
                        <div class="degree">C</div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-6 text-center">
                        <span><i class="fa fa-flag"></i> 26.20 km/h</span>
                    </div> 
                    <div class="col-6 text-center">
                        <span><i class="fa fa-tint"></i> 59 %</span>
                    </div>
                </div>                  
          </div>
          <div class="card-block">
              <div *ngFor="let weather of weatherData" class="row line">
                  <div class="col-4 text-left">{{weather.day}}</div>
                  <div class="col-4 text-center">
                     <canvas skycon [weather]="weather.icon" [color]="config.colors.gray" width="22" height="22"></canvas>
                  </div>
                  <div class="col-4 text-right">
                      {{weather.degree}}
                  </div>
              </div> 
          </div>
        </div>
    </div>

    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>TO DO LIST</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                   
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
               <az-todo></az-todo>
            </div>
        </div>
    </div>

</div> -->


<expandable-card header='REVENUE'>
  <div card-body>
      <az-dynamic-chart></az-dynamic-chart>
  </div>
</expandable-card>