<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Discount Code and Option</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-block widget-body">
                <form [formGroup]="discountForm1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Discount code</label>
                                <input type="text" class="form-control" formControlName="discountCode">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Discount option</label>
                                <select class="form-control"  formControlName="discountOption">
                                    <option *ngFor="let option of disOption" [ngValue]="option.value">{{option.name}}</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Discount Value</label>
                                <input type="number" class="form-control"  formControlName="discountValue">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                               <input type="checkbox" class="form-control"  formControlName="miniOrder">This discount requires a minimum purchase

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" *ngIf="discountForm1.value.miniOrder">
                                <input type="number" class="form-control" formControlName="miniValue">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Applies to</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-block widget-body">
                <form [formGroup]="discountForm2">
                <div class="form-group">

                    <input type="radio" value="allGstock" formControlName="disApplies"> All Gstock<br>
                    <input type="radio" value="productCate" formControlName="disApplies"> Selected Product Cate<br>
                    <input type="radio" value="merchant" formControlName="disApplies"> Selected Merchant

                </div>
                    <div class="form-group">
                        <div class="input-group" *ngIf="discountForm2.value.disApplies!='allGstock'">
                            <input type="text" class="form-control" formControlName="disSearch" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-info">Search</button>
                        </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Active dates</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-block widget-body">
                <form [formGroup]="discountForm3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Start dates</label>
                            <input type="date" class="form-control" formControlName="startDate">
                        </div>
                    </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start time</label>
                                <input type="time" class="form-control" formControlName="startTime">
                            </div>
                        </div>
                    <div class="col-md-4">
                        <button class="btn btn-main">Submit Promotion</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
