<nav aria-label="Page navigation">
  <ul class="pagination clickable">
    <li class="page-item">
      <a class="page-link" (click)="transitTo('previous')">Previous</a>
    </li>
    <li *ngIf="head>=jump" class="page-item">
      <a class="page-link">...</a>
    </li>
    <li class="page-item" *ngFor='let page of display'>
      <a class="page-link" (click)="navigateToPage($event.toElement.text)">{{page}}</a>
    </li>
    <li *ngIf="pages-head >jump" class="page-item">
      <a class="page-link">...</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="transitTo('next')">Next</a>
    </li>
    <!-- <li class="page-item">
      Navigate to
      <input> /{{pages}}
      <button>
        <span>GO</span>
      </button>
    </li> -->
  </ul>
</nav>